*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
}


.trees{
    height: 100vh;
    width: 100%;
    background-image: url('trees.png');
    background-size: cover;
    position: absolute; 
    top: -144px;
}


.track{
    height: 45vh;
    width: 800vw;
    background-image: url('track.png');
    background-repeat: repeat-x;
 
    position: absolute;
    top: 70vh;
    animation: carMove linear 6s infinite;
}


.car{
    height: 100px;
    width: 380px;
    background-image: url('car.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 248px;
    bottom: 27vh;
    animation: shake linear 2.5s infinite;
}
/* This code is for wheels */
.wheel{


}

.wheel1 img{
    width: 105px;
    position: relative;
    top: 49px;
    left: 33px;  
    animation: wheelRotation linear .6s infinite;
}


.wheel2 img{
    width: 106px;
    position: relative;
    top: -11px;
    left: 221px;
    animation: wheelRotation linear .6s infinite;
    
}

.sky .speaker{
    width: 106px;
    position: relative;
    top: -19px;
    left: 221px;
}




/* Button css code is here */
button, button:focus {
    left: 80px;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0.7rem;
    background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
    position: absolute;
    animation: shaketext linear .3s infinite;
    
  }
  

  button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
  }

  .img1{
    width: 30px;
    position: absolute;
    height: 145px;
    top: -65px;
    left: 281px
  }

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}



@keyframes carMove
{
    100%{
        transform: translatex(-500vw);
    }
}


@keyframes shake
{
    0%{
        transform: translatey(-5px);
    }
    50%{
        transform: translatey(5px);
    }
    100%{
        transform: translatey(-5px);
    }
}


@keyframes shaketext
{
    0%{
        transform: translatex(-5px);
    }
    50%{
        transform: translatex(5px);
    }
    100%{
        transform: translatex(-5px);
    }
}